<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zy.app.mall">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <user-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:name="com.jingdong.app.mall.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.zy.app.mall.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fakeFirstTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zy.app.mall.MainFrameActivity"
            android:configChanges="locale|keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>
